/* styling for background image and overall content of the document */
body {
  background-image: url("../images/ss5.jpg");
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  
}

/* styling for navigation bar, menu items */
ul {
 
  display: flex;
  align-content: center;
  justify-content: center;
}
/* navigation bar content - individual items - li */
ul li {
  list-style: none;
}
/* navigation bar content - link text styling inside li - a */
ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 0.875em;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;
  letter-spacing: 1px;
}
/* navigation bar content - link text styling inside
li - a with hover selector */
ul li a:hover {
  border-bottom: 3px solid #fff;
}

/* styling for banner image and text */
.header {
  padding: 20px;
  height: 100vh;
  background: url("../images/bening.jpg") no-repeat  center;
  background-size: cover;
  position: relative;
}
.header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: red;
  margin-bottom: 20px;
}
.header .content {
  position: relative;
  top: 50%;
  text-align: center;
}

/* styling for content arranged using flex-box */

/* first block of text (container, H1, P) */
.flex1 {
  display: flex;
  color: white;
  padding: 100px 150px 150px 100px;
  position: center;
  background: linear-gradient(to bottom, #16222a, #4e4376);
}

.flex1 h1 {
  font-size: 325%;
  text-align: center;
}
.flex1 p {
  font-weight: 400%;
  font-family: serif;
  font-size: 150%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

/* second block of text (container, H1, P) */
.flex2 {

  display: flex;
  color: white;
  padding: 100px 150px 150px 100px;
  position: center;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  text-align: center;
}

.flex2 h1 {
  font-size: 325%;
  text-align: center;
}
.flex2 p {
  font-weight: 400%;
  font-family: sans-serif;
  font-size: 150%;
  padding-left: 3%;
  padding-right: 3%;
}

/* third block of text 
(container to arrange child items vertically - flex-direction: row)

*/
.flex {
  display: flex;
  color: red;
  padding-left: 3%;
  padding-right: 3%;
  position: center;
  font-size: 115%;

}

.flex--vertical {
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 3%;
  padding-right: 3%;
}
